@font-face {
  font-family: "Indie Flower";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/indieflower/v17/m8JVjfNVeKWVnh3QMuKkFcZVaUuH.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  margin: 0;
  padding: 0;
}
body {
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upper-div {
  margin: 1em;
}

.upper-div .input-data-to-do {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;
}

.upper-div .input-to-do-text {
  background-color: rgb(163, 207, 207);
  min-height: 3em;
  margin: 3px;
  border: none;
  border-radius: 20px;
  padding: 0.5em;
}

.upper-div .input-to-do-text:hover {
  box-shadow: 10px 5px 5px rgb(117, 142, 165);
  transition-delay: 200ms;
}

.upper-div .add-btn-input {
  display: inline-block;
  background: url("./imgs/add-icon.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 3em;
  height: 3em;
  border: none;
  margin: 3px;
}

.upper-div .add-btn-input:hover {
  background-color: rgb(62, 75, 70);
}

.main-div {
  background-color: rgb(178, 141, 212);
  border: 3px solid;
}

/* Applied in .maindiv*/
.add-item-to-list {
  display: grid;
  grid-template-columns: 1fr 3em 3em 3em;
  padding: 1em;
  list-style: none;
}

.add-item-to-list:hover {
  background-color: lightgrey;
  border-radius: 10px;
}

.span-txt-task:hover {
  color: rgb(148, 42, 42);
}
/* bt- remove */
.btn-remove-todo {
  border-radius: 10px;
  background-color: transparent;
  background-image: url(./imgs/trash.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  border: 2px solid rgb(226, 11, 11);
  cursor: pointer;
  width: 3em;
  height: 3em;
}

.to-do-text-div {
  margin: 2em;
  border-radius: 20px;
  min-width: 30em;
  min-height: 20em;
  border: 3px solid;
  background-color: darkgrey;
}

.btn-remove-todo:hover {
  box-shadow: 1px 2px 2px rgb(55, 5, 5);
  transition-delay: 200ms;
  background-color: rgb(226, 11, 11);
}
.checkBox {
  filter: hue-rotate(270deg);
  place-content: center;
}

input[type="checkbox"] {
  /* -ms-transform: scale(2); IE */
  /* -moz-transform: scale(2); FF */
  /* -webkit-transform: scale(2); Safari and Chrome */
  /* -o-transform: scale(2); Opera */
  /* transform: scale(2); */
  /* padding: 10px; */
}

.span-txt-task {
  font-size: 1.5rem;
  font-family: "Indie Flower";
  text-transform: capitalize;
  font-weight: 1000;
}
